In [1]:
from flask import Flask, request, jsonify, render_template
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as urReq

In [2]:
flip_url = "https://www.flipkart.com/search?q="+"oneplus"

In [3]:
flip_url

'https://www.flipkart.com/search?q=oneplus'

In [4]:
response_website = urReq(flip_url)

In [5]:
response_website

In [6]:
data_flipkart = response_website.read()

In [7]:
beautified_data_flipkart = bs(data_flipkart, "html.parser")

In [8]:
bigbox = beautified_data_flipkart.find_all('div',{'class':'_1AtVbE col-12-12'})

In [9]:
len(bigbox)

15

In [10]:
bigbox[3].div.div.div.a['href']

'/oneplus-nord-2-5g-gray-sierra-128-gb/p/itmc88e4a702db46?pid=MOBGDBFFA5EGECHQ&lid=LSTMOBGDBFFA5EGECHQZVHCL8&marketplace=FLIPKART&q=oneplus&store=search.flipkart.com&srno=s_1_9&otracker=search&fm=organic&iid=dac4b707-54bc-4a86-92d7-8217c979efab.MOBGDBFFA5EGECHQ.SEARCH&ppt=None&ppn=None&ssid=ro9yakm9io0000001662817693994&qH=43780d550576947f'

In [11]:
product_3 = "https://www.flipkart.com"+ bigbox[3].div.div.div.a['href']

In [12]:
product_3

'https://www.flipkart.com/oneplus-nord-2-5g-gray-sierra-128-gb/p/itmc88e4a702db46?pid=MOBGDBFFA5EGECHQ&lid=LSTMOBGDBFFA5EGECHQZVHCL8&marketplace=FLIPKART&q=oneplus&store=search.flipkart.com&srno=s_1_9&otracker=search&fm=organic&iid=dac4b707-54bc-4a86-92d7-8217c979efab.MOBGDBFFA5EGECHQ.SEARCH&ppt=None&ppn=None&ssid=ro9yakm9io0000001662817693994&qH=43780d550576947f'

In [13]:
bs(product_3,"html.parser")

https://www.flipkart.com/oneplus-nord-2-5g-gray-sierra-128-gb/p/itmc88e4a702db46?pid=MOBGDBFFA5EGECHQ&amp;lid=LSTMOBGDBFFA5EGECHQZVHCL8&amp;marketplace=FLIPKART&amp;q=oneplus&amp;store=search.flipkart.com&amp;srno=s_1_9&amp;otracker=search&amp;fm=organic&amp;iid=dac4b707-54bc-4a86-92d7-8217c979efab.MOBGDBFFA5EGECHQ.SEARCH&amp;ppt=None&amp;ppn=None&amp;ssid=ro9yakm9io0000001662817693994&amp;qH=43780d550576947f

In [14]:
import requests
flip_prod_3 = requests.get(product_3)

In [15]:
flip_prod_3

In [16]:
flip_prod_3_page = bs(flip_prod_3.text,'html.parser')

In [17]:
all_review_prod3 = flip_prod_3_page.find_all('div',{'class':'_16PBlm'})

In [18]:
len(all_review_prod3)

11

In [19]:
all_review_prod3[0].div.div.div

<div class="row"><div class="_3LWZlK _1BLPMq">5<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div><p class="_2-N8zT">Excellent</p></div>

In [20]:
rating = all_review_prod3[0].div.div.div.text[0]

In [21]:
comment_header = all_review_prod3[0].div.div.div.text[1:]

In [22]:
comment = all_review_prod3[0].find_all('div',{'class':"t-ZTKy"})[0].text

In [23]:
name = all_review_prod3[0].find_all('p',{'class':"_2sc7ZR _2V5EHH"})[0].text

In [24]:
place = all_review_prod3[0].find_all('p',{'class':"_2mcZGG"})[0].text.split(', ')[1]

In [25]:
date = all_review_prod3[0].find_all('p',{'class':"_2sc7ZR"})[1].text

In [26]:
l_1 = [rating, comment_header, comment, name, place, date]

In [27]:
l_1

['5',
 'Excellent',
 "Wow it's really a good one from OnePlus. I literally bought this a year later than its launch and am still  impressed by what it can do. Actually I was waiting for Nord 2T to launch but it seemed  like there was no change other than OOS 12, 80W charger and Dimensity 1300. And comparatively there's no change between Dimensity 1200 and Dimensity 1300... I mean there's no change actually. So I just stopped waiting and just bought this one. Display is the first thing you're going to see in a smar...READ MORE",
 'Dhanush',
 'Tirunelveli',
 '3months ago']

In [31]:
reviews = []
for i in range(len(all_review_prod3)-1):
    rating = all_review_prod3[i].div.div.div.text[0]
    comment_header = all_review_prod3[i].div.div.div.text[1:]
    comment = all_review_prod3[i].find_all('div',{'class':"t-ZTKy"})[0].text
    name = all_review_prod3[i].find_all('p',{'class':"_2sc7ZR _2V5EHH"})[0].text
    place = all_review_prod3[i].find_all('p',{'class':"_2mcZGG"})[0].text.split(', ')[1]
    date = all_review_prod3[i].find_all('p',{'class':"_2sc7ZR"})[1].text
    review = [rating, comment_header, comment, name, place, date]
    reviews.append(review)

In [30]:
for i in range(len(all_review_prod3)-1):
    print(all_review_prod3[i].div.div.div.text[0])

5
4
5
5
5
4
5
5
4
5

In [47]:
all_review_prod3[2].div.div.div.div.text

'4'

In [34]:
import pandas as pd
columns = [['Rating', 'Comment_Header', 'Comment', 'Name', 'Place', 'Date']]
reviews_df = pd.DataFrame(data=reviews,columns=columns)

In [35]:
reviews_df

,Rating,Comment_Header,Comment,Name,Place,Date
0,5,Excellent,Wow it's really a good one from OnePlus. I lit...,Dhanush,Tirunelveli,3months ago
1,4,Delightful,MY EXPERIENCE AFTER 5DAYS OF USAGEHERE WE GO1)...,Sanjay M.V,Bengaluru,3months ago
2,5,Highly recommended,Just like I want this device gives me all .Cam...,Roshan,Leh,3months ago
3,5,Just wow!,Awesome premium phone with numerous premium fe...,Tapas Bhatta,Bansberia,3months ago
4,5,Great product,Using phone from past 15days....Phone is amazi...,Vinod L,Bengaluru,2months ago
5,4,Pretty good,I am using this phone from last 5 days and i ...,Shubham Nevare,Pune,2months ago
6,5,Wonderful,Camera good quality ðŸ‘ŒREAD MORE,Jakir Hussain.,Bangalore Urban,3months ago
7,5,Must buy!,VALUE FOR MONEYREAD MORE,MD TUFAIL ALAM,Dalkhola,2months ago
8,4,Good quality product,Good... product....and camera quality is very....,SAROJ MILU,Puri,2months ago
9,5,Perfect product!,Good phoneREAD MORE,Farooqui Abdulla,Allahabad,2months ago

In [37]:
import mysql.connector as conn
mydb = conn.connect(host='localhost', user='root', passwd='God!77merciful')
cursor = mydb.cursor()
cursor.execute('create database if not exists flip_review')
cursor.execute('create table if not exists flip_review.reviews(Rating int(1), ComHea varchar(15), Comment varchar(200), Name varchar(30), Place varchar(30), Month varchar(20))')

In [42]:
for i in range(len(all_review_prod3)-1):
    cursor=mydb.cursor()
    rating = all_review_prod3[i].div.div.div.text[0]
    comhea = all_review_prod3[i].div.div.div.text[1:]
    comment = all_review_prod3[i].find_all('div',{'class':"t-ZTKy"})[0].text
    name = all_review_prod3[i].find_all('p',{'class':"_2sc7ZR _2V5EHH"})[0].text
    place = all_review_prod3[i].find_all('p',{'class':"_2mcZGG"})[0].text.split(', ')[1]
    month = all_review_prod3[i].find_all('p',{'class':"_2sc7ZR"})[1].text
    cursor.execute("insert into flip_review.reviews values(rating, comhea, comment, name, place, month)")
    mydb.commit()