In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import os
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from pandas_profiling import ProfileReport

from numpy import mean
from numpy import std
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_regression
from sklearn.model_selection import cross_val_score


from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score,mean_squared_error

In [2]:
os.getcwd()

'C:\\Users\\Daniel Stephenson\\1 Practice Session\\ML\\Practice_Projects\\Kaggle\\LR'

In [3]:
df = pd.read_csv('../../../../Datasets/Admission_Predict_V1.csv')

In [4]:
df.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
df.shape

(500, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [7]:
df = df.rename(columns={'Serial No.':'S.No','GRE Score':'GRE','TOEFL Score':'TOEFL','University Rating':'U_R','Chance of Admit ':'CoA'})

In [8]:
df.head()

   S.No  GRE  TOEFL  U_R  SOP  LOR   CGPA  Research   CoA
0     1  337    118    4  4.5   4.5  9.65         1  0.92
1     2  324    107    4  4.0   4.5  8.87         1  0.76
2     3  316    104    3  3.0   3.5  8.00         1  0.72
3     4  322    110    3  3.5   2.5  8.67         1  0.80
4     5  314    103    2  2.0   3.0  8.21         0  0.65

In [9]:
df.drop('S.No', inplace=True, axis=1)

In [10]:
df.head()

   GRE  TOEFL  U_R  SOP  LOR   CGPA  Research   CoA
0  337    118    4  4.5   4.5  9.65         1  0.92
1  324    107    4  4.0   4.5  8.87         1  0.76
2  316    104    3  3.0   3.5  8.00         1  0.72
3  322    110    3  3.5   2.5  8.67         1  0.80
4  314    103    2  2.0   3.0  8.21         0  0.65

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GRE       500 non-null    int64
 1   TOEFL     500 non-null    int64
 2   U_R       500 non-null    int64
 3   SOP       500 non-null    float64
 4   LOR       500 non-null    float64
 5   CGPA      500 non-null    float64
 6   Research  500 non-null    int64
 7   CoA       500 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 31.4 KB

In [12]:
df.describe().apply(lambda x:x.apply(lambda s: format(s,'.2f')))

          GRE   TOEFL     U_R     SOP    LOR     CGPA Research     CoA
count  500.00  500.00  500.00  500.00  500.00  500.00   500.00  500.00
mean   316.47  107.19    3.11    3.37    3.48    8.58     0.56    0.72
std     11.30    6.08    1.14    0.99    0.93    0.60     0.50    0.14
min    290.00   92.00    1.00    1.00    1.00    6.80     0.00    0.34
25%    308.00  103.00    2.00    2.50    3.00    8.13     0.00    0.63
50%    317.00  107.00    3.00    3.50    3.50    8.56     1.00    0.72
75%    325.00  112.00    4.00    4.00    4.00    9.04     1.00    0.82
max    340.00  120.00    5.00    5.00    5.00    9.92     1.00    0.97

In [35]:
pr = ProfileReport(df)
pr.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [13]:
for i in df.columns:
    print("No.of Unique items in " + i +" are:", df[i].nunique())

No.of Unique items in GRE are: 49
No.of Unique items in TOEFL are: 29
No.of Unique items in U_R are: 5
No.of Unique items in SOP are: 9
No.of Unique items in LOR  are: 9
No.of Unique items in CGPA are: 184
No.of Unique items in Research are: 2
No.of Unique items in CoA are: 61

In [14]:
df.duplicated().any()

False

In [15]:
df_1 = df.copy()

In [16]:
df_1.head()

   GRE  TOEFL  U_R  SOP  LOR   CGPA  Research   CoA
0  337    118    4  4.5   4.5  9.65         1  0.92
1  324    107    4  4.0   4.5  8.87         1  0.76
2  316    104    3  3.0   3.5  8.00         1  0.72
3  322    110    3  3.5   2.5  8.67         1  0.80
4  314    103    2  2.0   3.0  8.21         0  0.65

In [17]:
df_1 = df_1.values

In [18]:
X = df_1[:,:-1]
y = df_1[:,-1]

In [19]:
X.shape, y.shape

((500, 7), (500,))

In [20]:
from sklearn.neighbors import LocalOutlierFactor
lof = LocalOutlierFactor()
yhat = lof.fit_predict(X)

In [21]:
outliers = yhat == -1
X[outliers], y[outliers]

(array([[290.  , 104.  ,   4.  ,   2.  ,   2.5 ,   7.46,   0.  ],
        [320.  , 120.  ,   3.  ,   4.  ,   4.5 ,   9.11,   0.  ],
        [290.  , 100.  ,   1.  ,   1.5 ,   2.  ,   7.56,   0.  ],
        [313.  ,  94.  ,   2.  ,   2.5 ,   1.5 ,   8.13,   0.  ],
        [332.  , 112.  ,   1.  ,   1.5 ,   3.  ,   8.66,   1.  ],
        [332.  , 108.  ,   5.  ,   4.5 ,   4.  ,   9.02,   1.  ]]),
 array([0.45, 0.86, 0.47, 0.56, 0.79, 0.87]))

In [22]:
mask = yhat != -1
X, y = X[mask, :], y[mask]

In [23]:
X.shape, y.shape

((494, 7), (494,))

In [24]:
y = y.values.reshape((len(y),1))

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [26]:
from xgboost.sklearn import XGBRegressor


ss = StandardScaler()
X = ss.fit_transform(X)
y = ss.fit_transform([y])

# Model initilization
LR = LinearRegression()
RG = Ridge(alpha=0.5)
LS = Lasso(alpha=0.2, fit_intercept=True, normalize=False, precompute=False, max_iter=1000,
              tol=0.0001, warm_start=False, positive=False, random_state=None, selection='cyclic')
EN = ElasticNet()
DT = DecisionTreeRegressor()
RDF = RandomForestRegressor()
XTR = ExtraTreesRegressor()
# SVR = SVR(kernel = 'linear')
XR = XGBRegressor()
GBR = GradientBoostingRegressor()
ADA = AdaBoostRegressor()
BAG = BaggingRegressor()

# Model 

model_list = [LR,RG,LS,EN,DT,RDF,XTR,XR,GBR,ADA,BAG]

def best_ml (model,X,y,cv=10): 
    cv = KFold(n_splits=10, random_state=1, shuffle=True)
    cross = -cross_val_score(model,X,y,cv=cv,scoring='neg_mean_squared_error').mean()
    score = np.sqrt(cross)
    final_score.append(score)
    
final_score = []

for i in model_list:
    best_ml(i,X,y)

pd.DataFrame(data = final_score,
             columns = ['mean_Squared_error'],
             index = ['LinearRegression','SupVecMach', 'Ridge', 'Lasso', 'ElasticNet','DecisionTree',
                      'RandomForest','ExtraTreesRegressor', 'XGBRegressor', 'GradientBoosting', 
                      'AdaBoost','Bagging'])

ValueError: Found input variables with inconsistent numbers of samples: [494, 1]